<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra RPS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body>
    <div class="navbar">
      <div><a href="/rock">Play Rock</a></div>
      <div><a href="/paper">Play Paper</a></div>
      <div><a href="/scissors">Play Scissors</a></div>
    </div>


    <%= yield %>
    
    <div class="navbar">
      <div><a href="/">Rules</a></div>
    </div>

  </body>
</html>
